[submodule "dependencies/DLPGenerator"]
	path = dependencies/DLPGenerator
	url = https://github.com/DeepLearnPhysics/DLPGenerator.git
[submodule "dependencies/edep-sim"]
	path = dependencies/edep-sim
	url = https://github.com/ClarkMcGrew/edep-sim.git
[submodule "dependencies/SuperaAtomic"]
	path = dependencies/SuperaAtomic
	url = https://github.com/DeepLearnPhysics/SuperaAtomic.git
[submodule "dependencies/edep2supera"]
	path = dependencies/edep2supera
	url = https://github.com/DeepLearnPhysics/edep2supera.git
[submodule "dependencies/GENIE"]
	path = dependencies/GENIE
	url = https://github.com/GENIE-MC/Generator.git
[submodule "dependencies/dk2nu"]
	path = dependencies/dk2nu
	url = https://github.com/NuSoftHEP/dk2nu.git
